

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	background: url(background-pattern.gif) repeat !important;
}

body {
	background: none;
}

.container {
	margin-top: 80px;
}
.panel {
	border: 1px solid #ddd;
	background: #F9F9F9;
}

.jumbotron {
	background-color: #7481A3;
    color: #F9F9F9;
    font-family: 'Open Sans', sans-serif;
}

.highlight {
	background: #333B60;
	padding: 0;
	color: #fff;
	border-bottom: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
}

.highlight h2, .highlight h3 {
	margin: 0;
	padding: 15px;
}

.input-fields, .results {
	padding: 10px;
	margin-top: 10px;
}
